<!DOCTYPE html>
<html>
  <head>
    <title>VueGapi</title>
    <script src="//cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../dist/vue-gapi.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="isSignedIn">
        <button @click="logout()" type="button">Logout</button>
        <button @click="grantOfflineAccess()" type="button">
          Grant Offline Access
        </button>
        {{ userName }}
      </div>
      <button
        :disabled="isSignedIn === null"
        @click="login()"
        type="button"
        v-if="!isSignedIn"
      >
        Login
      </button>
    </div>

    <script>
      Vue.use(VueGapi.default, {
        clientId:
          '831498217804-n5f6uvt30h9q0lsdql4tq6qek8i6cggf.apps.googleusercontent.com',
        scope: 'https://www.googleapis.com/auth/photoslibrary.readonly',
      })

      const app = new Vue({
        el: '#app',
        data: {
          isSignedIn: null,
        },
        computed: {
          userName() {
            const user = this.$gapi.getUserData()

            if (user) {
              return user.firstName
            }
          },
        },
        methods: {
          login() {
            this.$gapi.login()
          },
          grantOfflineAccess() {
            this.$gapi.grantOfflineAccess()
          },
          logout() {
            this.$gapi.logout()
          },
        },
        created() {
          this.$gapi.listenUserSignIn((isSignedIn) => {
            this.isSignedIn = isSignedIn
          })
        },
      })
    </script>
  </body>
</html>
